
.box{
    width: 550px;
    height: 400px;
    border-radius: 5px;
    font-size: 30px;
    background-color:blanchedalmond;
    position:absolute;
        left:25px;
        top: 310px;
    padding: 20px 30px;    
    


    

    
}
.Login input{
    width:250px;
    height:50px;
    font-size: 40px;
}
.btn{
    width:150px;
    height:50px;
    font-size: 20px;
    padding: 10px 20px;
}
.com{
    width: 100px;
    height: 40px;
    font-size: 20px;

}
